.numberCount {
  user-select: none;
  display: inline-block;
  margin: 0 0 10px 0;
  input[type=number] {
    width: 70px;
    height: auto;
    font-size: 20px;
    border:1px solid $c99;
    padding-top: 7px;
    text-align: center;
    font-weight:400;
    user-select: none;
    border-radius: 2px;
    color: $c99;
  }
}
.add-product-container {
  input[type=number] {
    width: 50px;
    font-size: 14px;
    padding: 3px;
  }
}
//.plus, .minus {
//  padding: 0 15px;
//  cursor:pointer;
//  font-size: 30px;
//  font-weight: 100;
//}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}
.cart-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border:1px solid $grey;
  border-radius: 4px;
  margin-bottom: 20px;
  @include mq-mobile {
    position: relative;
    flex-wrap: wrap;
  }
}
.cart-img {
  width: 150px;
  @include mq-480 {
    width: 120px;
  }
  img {
    width: 100%;
  }
}
.cart-block {
  display: flex;
  &:first-child{
    width:auto;
    @include mq-mobile {
      width: 100%;
      @include mq-480 {
        padding-top: 15px;
      }
    }
  }
  &:not(:first-child) {
    align-items: center;
  }
  &:nth-child(2){
    justify-content: space-between;
    width: 30%;
    @include mq-mobile {
      width: 100%;
      padding: 0 20px;
    }
  }
  &:nth-child(3){
    width: 100px;
    @include mq-mobile {
      width: 100%;
      padding: 20px;
    }
  }

}
.total-text {
  display: none;
  margin-right: 10px;
  @include mq-mobile {
    display: block;
  }
}
.name {
  text-transform: uppercase;
}
.cart-info {
  margin-top: 20px;
}
.close {
  width: 30px;
  display: flex;
  align-items: center;
  svg {
    width: 13px;
    height: 13px;
    stroke:$grey;
    fill:$grey;
    stroke-width: .2;
  }
  &:hover {
    svg {
      stroke:$or;
      fill:$or;
    }
  }
  @include mq-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.total-price {
  font-weight: 600;
}