.map {

  iframe {
    margin-top: 88px;
    width: 100%;
    height: 500px;
    @include mq-mobile {
      height: 400px;
    }
    @include mq-600 {
      height: 350px;
    }
    @include mq-480 {
      height: 290px;
    }
    @include mq-380 {
      height: 250px;
    }
  }
}
.icon-contacts {
  width: 50px;
  height: 50px;
  margin:auto;
  svg {
    width: 50px;
    height: 50px;
    stroke:$c99;
  }
}
.contacts {
  text-align: center;
}
.contact-block {
  margin-bottom: 40px;
}