@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/roboto/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'roboto-bold';
  src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto/Roboto-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/roboto/Roboto-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto/Roboto-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'roboto-light';
  src: url('../fonts/roboto/Roboto-Light.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto/Roboto-Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/roboto/Roboto-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto/Roboto-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
