footer {
  width: 100%;
  margin-top: 50px;
  background: $bg-footer;
  color: $w;
  a {
    color:$w;
  }
}

.develop {
  text-align: center;
  padding: 10px;
  background: $bg-developed;
  p {
    font-size: 12px;
    color: $w;
    padding: 10px;
  }
  a {
    padding: 10px;
    img {
      width: 75px;
      margin-top: -20px;
    }
  }
}
.ic-footer {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin-top: 10px;
  svg {
    width: 20px;
    height: 20px;
    stroke:$bg-nav;
    fill:$bg-nav;
    @include trans;
    &:hover {
      fill:$or;
      stroke:$or;
    }
  }
}
.sub-footer {
  background-position: 0 0 ;
  background-size:cover;
  padding: 50px;
  @include mq-600 {
    padding: 30px 20px;
  }
}
.sub-footer-block {
  width: 510px;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq-600 {
    width: 100%;
    float:none;
  }

}
.footer-form{
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include mq-600 {
    flex-direction: column;
    width: 80%;
  }
  @include mq-480 {
    width: 100%;
  }
  input {
    margin-bottom: 15px;
  }
}
.forget-password {
  color: $or;
  margin-top: 10px;
  padding-left: 60px;
  &:hover,
  &:active,
  &:focus {
    color: $w;
  }
  @include mq-600 {
    padding-left: 0;
  }
}