.header {
  width: 100%;
  background-size:cover;
  background-attachment:fixed;
  padding: 100px 50px 50px;
}
.header-block {
  padding: 50px;
  text-align: center;
  background: rgba($w, .7);
  border-radius: 4px;
}
.breadcrumbs {
  li {
    display: inline-block;
  }
}
.accordion {
  width: 100%;
  text-align: left;
  display: block;
  font-size: 14px;
  color: $middle-black;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
  &:hover, &:active {
    color: $or;
  }
  span {
    &:before {
      content:'';
      width: 4px;
      height: 4px;
      display: inline-block;
      background:$grey;
      transform:rotate(45deg);
      margin: 0 5px 3px;
    }
  }

}
.h-category {
  text-transform: uppercase;
  display: inline-block;
  border-bottom:1px solid $c33;
}
.panel-product {
  max-height: 0;
  overflow: hidden;
  padding-left: 10px;
  @include trans(.5s);
  opacity: 0;
  ul {
    margin-top: 0;
  }
}
.btn-acc {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: $middle-black;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 5px;
}
.panel-product.show-accordion {
  opacity: 1;
  max-height: 1000px;
}
.accordion:after {
  content: url(../img/arrow.svg);
  width: 10px;
  float: right;
  vertical-align: middle;
  //transform: scaleY(1);
  @include trans;
}
.accordion.btn-active:after {
  transform: rotate(180deg);
}



.frames-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include mq-600 {
    justify-content: center;
  }
}

// Pagination
.pagination {
  text-align: center;
  margin-top: 40px;
  li {
    display: inline-block;
  }
}
.page-numbers {
  display: block;
  padding: 7px;
  text-align: center;
  font-size: 16px;
}
.current {
  font-size: 16px;
  color: $or;
  padding: 7px;
}
// End pagination

//Product guide
.row-product-guide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .product-guide {
    width: 360px;
    margin:20px 10px;
    @include mq-1200 {
      margin: 20px;
    }
  }
  @include mq-1200 {
    justify-content: center;
  }
}
//  guide page
.list-guide {
  list-style: disc;
  padding-left: 20px;
}
.list-ol-guide {
  padding-left: 20px;
}
.link-guide {
  color: $or;
  &:hover {
    color: darken($or, 10%);
  }
}
.guide-pade-img {
  width: 100%;
  margin-bottom: 5%;
}
.categ-hid {
  width: 100%;
  background: $w;
  @include mq-mobile {
    z-index: 99;
    position: fixed;
    top: 0;
    left: -100%;
    @include trans;
  }
}
.btn-categ {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $or;
  @include mq-mobile {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index:910;
  }
}
.categ-open {
  padding: 20px;
  height: 100%;
  left: 0;
  background: $w;
  z-index:900;
  overflow-y: auto;
}
.ic-open-filter {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  margin-top: 6px;
  margin-left: -14px;
  @include trans;
  svg {
    width: 30px;
    height: 30px;
    stroke:$w;
    fill:$w;
    vertical-align: middle;

  }
}
.ic-close-filter {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: -10px;
  @include trans;
  visibility: hidden;
  opacity: 0;
  svg {
    width: 20px;
    height: 20px;
    stroke:$w;
    fill:$w;
    stroke-width: .1;
    vertical-align: middle;
  }
}