.icons-hidden {
  display: none!important;
}

.menu-arrow-bottom {
  width: 10px;
  height: 10px;
  svg {
    width: 10px;
    height: 10px;
    stroke: $c33;
    transform: rotate(90deg);
    margin-left: 10px;
  }
}

// Icons for nav-right
.ic-nav-user{
	width: 27px;
	height: 27px;
	margin: 0 5px;
	cursor: pointer;

	@include mq-tablet {
		margin: 0;
	}
	 svg{
		width: 25px;
		height: 27px;
		stroke:$c33;
		fill:none;
		@include trans;
		vertical-align: middle;
		@include mq-mobile {
			stroke:$w;
		}
	}
	&:hover svg {
		stroke:$or;
	}
}
.ic-cart {
	width: 27px;
	height: 27px;
	margin: 0 5px;
	cursor: pointer;
	.ic-svg-cart {
		stroke-width: 2;
		width: 27px;
		height: 27px;
		stroke:$c33;
		fill:none;
		@include trans;
		vertical-align: middle;
		@include mq-mobile {
			stroke:$w;
		}
	}
	&:hover .ic-svg-cart{
		stroke:$or;
	}
}
.ic-nav-user {
	svg {
		stroke-width: .7;
	}
}
.plus,
.minus {
	width: 17px;
	height: 17px;
	cursor:pointer;
	svg {
		width: 17px;
		height: 17px;
		stroke:$c99;
		margin: 0 5px;
		fill:$c99;
		stroke-width: .2;
		vertical-align: middle;
	}
	//&:hover,
	//&:active,
	//&:focus {
	//	stroke: $grey;
	//	fill:$grey;
	//}
}
.ic-nav {
	width: 28px;
	height: 28px;
	margin: 0 5px;
	cursor: pointer;
	@include mq-tablet {
		margin: 0;
	}

	svg {
		width: 28px;
		height: 28px;
		stroke:$c33;
		fill:$c33;
		@include trans;
		vertical-align: middle;
		@include mq-mobile {
			stroke:$w;
			fill:$w;
		}
	}
	&:hover svg {
		stroke:$or;
		fill:$or;
	}

}
.lang {
	a {
		color: $c33;
		&.active-link {
			color: $or;
		}
	}
	a {
		@include mq-mobile {
			color: $w;
		}
	}
}
// icons How to order

.order-icon {
	width: 50px;
	height: 50px;
	margin:auto;
	svg {
		width: 50px;
		height: 50px;
		stroke:$grey;
		fill:$grey;
		vertical-align: middle;
	}
}
// Icon pagination
.ic-pag-arrow {
	width: 12px;
	height: 12px;
	svg {
		width: 12px;
		height: 12px;
		stroke: $or;
		vertical-align: middle;
	}
}
.pag-prev {
	svg {
		transform: rotate(180deg);
	}
}
.no-active {
	svg {
		stroke: $c99;
	}
}
.ic-pag-next,
.ic-pag-first {
	width: 14px;
	height: 14px;
	@include trans;
	svg {
		width: 14px;
		height: 14px;
		stroke: $grey;
		fill:none;
		vertical-align: middle;
		stroke-width: 3;
	}
	&:hover,
	&:active,
	&:focus {
		svg {
			stroke:$or;
		}
	}
}
.ic-pag-next {
	svg {
		transform: rotate(180deg);
	}
}
// End icon pagination