
.frames {
  background-size:cover;
  margin-top: 20px;
  height: 400px;
  background-position: center;
  @include mq-1200 {
    height: 350px;
  }
  @include mq-tablet {
    height: 300px;
  }
  @include mq-480 {
    height: 250px;
  }
}
.frames-text {
  background: rgba($w, .9);
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  @include mq-tablet {
    width: 100%;
  }
}

.product-offers-slider {
  margin-top: 3%;
}

.frames-order {
  width: 100%;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: 50% 30%;
}
.frames-order-desc {
  //background: rgba($bl, .1);
  width: 100%;
  padding: 3em 0 10em;
}
.h-thin {
  font-weight: 100;
  text-transform: uppercase;
}

.bestseller {
  width: 100%;
}
.read-more-order {
  display: block;
  text-align: center;
  background: $w;
  margin:30px auto;
  padding: 25px 15px;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 2px;
  &:hover,
  &:active,
  &:focus {
    background: $or;
    color: $w;
  }
  @include mq-mobile {
    max-width:360px;
  }
}
.bestseller-row {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  flex-wrap: wrap;
}


.product-guide {
  @include trans;
  margin-top: 30px;
  &:hover {
    opacity: 1;
    transition-delay: 0.15s;
    transform: scale(1);
    figcaption::before,
    figcaption::after {
      opacity: 1;
      transform: scale(1);

    }
    figcaption {
      background: rgba($bl, .4);
    }
    h3 {
      opacity: 1;
      transform: translate3d(0,0,0);
      transition-delay: 0.15s;
    }
    img {
      opacity: 1;
      transition-delay: 0.15s;
      transform: translate3d(0,0,0);
    }
    h5 {
      color: $or;
    }
  }
}
.link-more-guide {
  display: block;
  &:hover {
    color: inherit;
  }
}
.effect-layla {
  position: relative;
  overflow: hidden;
  min-width:320px;
  max-width: 480px;
  //max-height:250px;
  height:auto;
  background: $w;
  text-align: center;
  cursor: pointer;
  @include trans;
  @include mq-mobile {
    max-width: 100%;
  }
  img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    //height: 300px;
    height:auto;
    transform: translate3d(0,15px,0);
    transition: opacity 0.35s, transform 0.35s;
  }
  figcaption {
    padding: 3em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & > a {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
    }
    &:before {
      pointer-events: none;
      position: absolute;
      content: '';
      opacity: 0;
      top: 50px;
      right: 30px;
      bottom: 50px;
      left: 30px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: scale(0,1);
      transform-origin: 0 0;
      transition: opacity 0.35s, transform 0.35s;
    }
    &:after {
      pointer-events: none;
      position: absolute;
      content: '';
      opacity: 0;
      top: 30px;
      right: 50px;
      bottom: 30px;
      left: 50px;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      transform: scale(1,0);
      transform-origin: 100% 0;
      transition: opacity 0.35s, transform 0.35s;
    }
  }
  h3 {
    margin: 0;
    word-spacing: -0.15em;
    font-weight: 300;
    padding-top: 13%;
    transition: transform 0.35s;
    transform: translate3d(0,10px,0);
  }

}