@mixin mq-1500 {
  @media all and (max-width:1500px) {
    @content;
  }
}
@mixin mq-1200 {
  @media all and (max-width:1200px) {
    @content;
  }
}
@mixin mq-1000 {
  @media all and (max-width:1000px) {
    @content;
  }
}
@mixin mq-tablet {
  @media all and (max-width:967px) {
    @content;
  }
}
@mixin mq-850 {
  @media all and (max-width:850px) {
    @content;
  }
}
@mixin mq-min-850 {
  @media all and (min-width:850px) {
    @content;
  }
}
@mixin mq-min-mobile {
  @media all and (min-width:767px) {
    @content;
  }
}
@mixin mq-mobile {
  @media all and (max-width:767px) {
    @content;
  }
}
@mixin mq-600 {
  @media all and (max-width:600px) {
    @content;
  }
}
@mixin mq-480 {
  @media all and (max-width:480px) {
    @content;
  }
}
@mixin mq-380 {
  @media all and (max-width:380px) {
    @content;
  }
}
@mixin trans($duration: .6s, $type: all, $ease: ease, $delay: 0s) {
  transition: $type $duration $ease;
  transition-delay: $delay;
}
