.modal{
	position: fixed;
	display: flex!important;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	transition: .3s ease;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal.show{
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

.modal_wrapper{
	background: #fff;
	border-radius:  3px;
	padding: 2em;
	max-width: 500px;
	position: relative;
}

.modal_close{
	width: 18px;
	height: 18px;
	font-family: sans-serif;
	position: absolute;
	right: 20px;
	top: 20px;
	text-align: center;
	padding-top: 10px;
	cursor: pointer;
	background: url(../img/close.svg) no-repeat;
}
.user-form,
.user-forget {
	padding: 20px;
	@include trans;
	input {
		width: 100%;
		margin: 10px 0;
	}
}
.user-forget{
	max-width: 500px;
	width: 100%;
}
.btn-ok {
	background: $blue;
	color: $w;
	padding: 10px 20px;
	border-radius: 2px;
	&:hover,
	&:active,
	&:focus {
		background: darken($blue, 15%);
	}
}
.form-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}
.forget-invis {
	@include trans;
	display: none;
}
.form-invis {
	display: none;
}