.nav-container {
  background: rgba($w, .7);
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 0;
  z-index:99;
  @include trans;
  @include mq-min-850 {
    &.scroll-bg {
      background: $w;
      padding: 12px 0;
    }
  }

  @include mq-850 {
    height: 70px
  }
  @include mq-mobile {
    background: $w;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq-850 {
    flex-direction:column;
    align-items: flex-start;
  }
}
// logo
.logo {
  width: 150px;
  @include mq-1000 {
    width: 130px;
  }
  @include mq-850 {
    display: none;
  }
  img {
    width: 100%;
  }
}
.logo-mob {
  display: none;
  @include mq-850 {
    display: block;
    width: 130px;
    margin: auto;
  }
}
// End logo


.main-nav {
  li {
    display: inline-block;
    padding: 0 7px;
    @include mq-850 {
      display: block;
    }
  }
  a {
    color: $c33;
    padding: 7px 5px;
    @include mq-1000 {
      padding: 7px 2px;
      font-size: 12px;
    }
    @include mq-mobile {
      font-size: 14px;
      color: $w;
    }
    &.active-link {
      &:after{
        width: 100%;
      }
      color:$or;
      svg {
        stroke:$or;
      }
    }
  }
}
.h-list {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
}
.nav-right {
  display: flex;
  align-items:center;
  @include mq-850 {
    flex-direction:column;
  }
}
.lang {
  margin-left: 10px;
  a {
    @include mq-1000 {
      font-size: 12px;
    }
    &:hover,
    &:active,
    &:focus {
      color: $or;
    }
  }
}
.dot-lang:after {
  content:'';
  width: 4px;
  height: 4px;
  display: inline-block;
  background:$grey;
  transform:rotate(45deg);
  margin: 0 5px 3px;
}

.dropdown {
  position: absolute;
  top:35px;
  min-width: 250px;
  height: 0;
  overflow: hidden;
  background:$w;
  @include trans;
  border-radius: 0 0 4px 4px;
  @include mq-850 {
    &.open-dropdown {
      height: auto;
      z-index:99;
    }
  }
  li {
    display: block;
    padding: 0;
    color: $c33;
    a {
      padding: 5px 20px;
      display: block;
      &:hover {
        background: $ce;
      }
      @include mq-mobile{
        color: $c33;
        padding: 0 20px;
      }
    }
  }
}
.dropdow-menu {
  position: relative;
  z-index: 1000;
  &:hover .dropdown {
    @include mq-min-850 {
      height:auto;
      max-height: 1000px;
    }
    
  }
}

.nav-hover-effect {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 1px solid $or;
    transition: 0.4s;
  }
  &:hover:after {
    width: 100%;
  }
}

// Search
.search {
  position: relative;
  z-index: 999;
}
.form-search {
  position: absolute;
  right: 0;
  top: 51px;
  overflow: hidden;
  border:1px solid $light-grey;
  background: $w;
  opacity: 0;
  visibility: hidden;
  width: 300px;
  @include trans;
  
  &.open-search {
    opacity: 1;
    visibility: visible;
    @include mq-850{
      left: -70px;
    }
    
  }
  form {
    padding: 30px;
  }
}

.search-block {
  width: 100%;
  border:1px solid $light-grey;
  border-radius: 4px;
}
input[type="search"] {
  border:none;
  width: 180px;
  min-height: 25px;
  padding: 10px;
  vertical-align: middle;
}
.btn-search[type="submit"] {
    width: 30px;
    height: 25px;
    border: none;
    background:$w;
    svg {
      stroke:$or;
      fill:$or; 
    }
   }
// End search


// button for mob menu
.button-toggle.nav-close {
  box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.6), inset 0 0 0 20px rgba(0, 0, 0, 0.6);
  &:before {
    transform: translateY(-50%) rotate(45deg) scale(1);
  }
  &:after {
    transform: translateY(-50%) rotate(-45deg) scale(1);
  }
}
  .nav.opened {
    margin-bottom: 100px;
    pointer-events: auto;
    padding-left: 50px;
    .nav-item {
      letter-spacing: 0;
      height: 40px;
      line-height: 40px;
      margin-top: 0;
      opacity: 1;
      transform: scaleY(1);
      transition: $transition-duration, opacity 0.1s;
      @for $i from 1 through $items {
        &:nth-child(#{$i}) {
          $delay: ($items - $i) * $transition-delay;
          transition-delay: $delay;
          &:before {
            transition-delay: $delay;
          }
        }
      }
      &:before {
        opacity: 0;
      }
    }
  }


.button-toggle {
  display: none;
  @include mq-850 {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
    //border-radius: 100%;
    transition: $transition-duration + 0.1;
    svg {
      width: 25px;
      height: 25px;
      vertical-align: middle;
      stroke: $or;
      fill: $or;
      transform: scaleY(1);
      @include trans;
      &.invis-mob {
        transform: scaleY(0);
      }
    }
    &:before,
    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $item;
      border-radius: 5px;
      transition: $transition-duration;
    }
    &:before {
      transform: translateY(-50%) rotate(45deg) scale(0);
    }
    &:after {
      transform: translateY(-50%) rotate(-45deg) scale(0);
    }
  }
}

.nav-item {
  @include mq-850 {
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
    color: transparent;
    font-size: 14px;
    letter-spacing: -6.2px;
    height: 7px;
    line-height: 7px;
    white-space: nowrap;
    transform: scaleY(0);
  }
}

.ic-cart {
  position: relative;
}
.block-add-product {
  position: absolute;
  width:330px;
  height:auto;
  padding: 15px;
  top: 67px;
  right: 0;
  border:1px solid $light-grey;
  border-radius: 4px;
  background: $w;
  opacity:0;
  visibility: hidden;
  max-height: 500px;
  overflow-y: auto;
  @include trans;
  &.open-cart-block {
    @include mq-min-850 {
      visibility: visible;
      opacity: 1;
    }
  }
  .btn-more {
    display: block;
  }
  @include mq-850 {
    display: none;
  }
}
.add-product-container {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  border-bottom:1px solid $ce;
  .close {
    position: absolute;
    right: 0;
  }
}
.add-product-img {
  width: 100px;
  margin-top: 10px;
  img {
    width: 100%;
  }
}
.total-add-to-cart {
  padding:0 15px 15px ;
  display: flex;
  justify-content: space-between;
  p {
    text-transform: uppercase;
  }
}