.order {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 4em;
  @include mq-600 {
    flex-wrap: wrap;
  }
}
.order-block {
  width: 21%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq-600 {
    width: 48%;
    margin-bottom: 50px;
  }
  @include mq-480 {
    width: 100%;
  }
}
.how-order {
  background: $cf6;
  padding: 6em 0;
}
.order-icon-cart {
  width: 50px;
  height: 50px;
  margin: auto;
  svg {
    width: 50px;
    height: 50px;
    stroke: $c33;
    fill: none;
    stroke-width: 1.3;
    vertical-align: middle;
  }
}
.order-icon-delivery {
  width: 70px;
  height: 50px;
  margin: auto;
  svg {
    width: 70px;
    height: 50px;
    stroke: $grey;
    fill: $grey;
    vertical-align: middle;
  }
}
.h-order {
  text-transform: uppercase;
}
.link-order {
  text-transform: uppercase;
  border-bottom:1px solid $c33;
  font-size: 12px;
  margin-top: auto;
  font-weight: 600;
  padding-top: 20px;
  &:hover,
  &:active,
  &:focus {
    border-bottom:1px solid $or;
  }
  @include mq-600 {
    padding-top: 10px;

  }
}