.partner-block {
  figure img {
    filter: grayscale(100%);
    @include trans;
    transform: scale(.9);
  }
  figure:hover {
    img {
      filter: grayscale(0);
      transform: scale(1);
    }
  }



}
.parteners{
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-container {
    width: 100%;
    margin: 20px auto;
    background: $white;
  }
  .swiper-slide {
    text-align: center;
    //padding: 10px 0;
    img {
      width: 100%;
    }
  }
  .swiper-slide {
    text-align: center;
    width: 60%;
    /* Center slide text vertically */;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide:nth-child(2n) {
    width: 40%;
  }
  .swiper-slide:nth-child(3n) {
    width: 20%;
  }
}
.title-with-button__button {
  margin-top: -25px;
}
