.product-card {
  width: 260px;
  display: flex;
  margin:auto 10px;
  flex-direction: column;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
  height: 100%;
  //&:after {
  //  content: '';
  //  position: absolute;
  //  bottom: 0;
  //  left: 0;
  //  width: 0;
  //  border-bottom: 1px solid $or;
  //  transition: 0.4s;
  //}
  p {
    font-size: 14px;
    text-align: left;
    line-height: 1;
  }
  &:hover,
  &:active,
  &:focus {
    //&:after {
    //  width: 100%;
    //}
    .btn-product-card {
      opacity:1;
    }
  }

}

.product-cart-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  @include trans;
  border:1px solid $light-grey;
  margin-bottom: 25px;

  img {
    width: 100%;
    @include trans;
  }

}
.sale {
  position: absolute;
  top: 0;
  left: 0;
  background: $light-blue;
  color: $w;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 13px;
  font-size: 11px;
  letter-spacing: 1px;
}
.product-cart-info {
  padding:0;
  h5 {
    font-weight: 600;
  }
}
.price {
  display: flex;
  justify-content: space-between;
}
.old-price {
  text-decoration: line-through;
  color: $c99;
  font-size: 12px;
  padding-right: 10px;
}
.new-price {
  font-size: 14px;
  color: $c33;
}
.user-name {
  color: $c33;
  font-size: 14px;
}
.user-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  color: $c99;
  p {
    flex:1;
  }
}
.btn-product-card {
  position: absolute;
  bottom: 60px;
  left: 12%;
  font-size: 12px;
  background: $or;
  color: $w;
  border-radius: 4px;
  padding: 5px 10px;
  opacity:0;
  height: 39px;
  overflow: hidden;
  @include mq-mobile {
    font-size: 12px;
    height: 35px;
  }
  svg {
    width: 25px;
    height: 25px;
    stroke:$w;
    stroke-width: 3;
    fill:none;
    vertical-align: middle;
    margin-right: 10px;
  }

  span {
    display: block;
    position: relative;
    @include trans;
    &.after {
      transform: translateY(10px) ;
    }
    &.before {
      transform: translateY(2px) ;
    }
  }
  &:hover,
  &:active,
  &:focus {
    background: $light-blue;
    color: $w;
    .after {
      transform: translateY(-22px) ;
    }
    .before {
      transform: translateY(-45px) ;
    }

  }
}

.add-cart {
  position: absolute;
  bottom: 10px;
  display: block;
  opacity:0;
  color: $w;
  width: 100%;
  text-align: center;
  letter-spacing:1px;
  padding: 10px;
  height: 40px;
  @include trans;
  background: rgba($or, .7);
  &.show-product {
    opacity:1;
  }
}

// big product card

.big-product-card {
  margin-bottom: 20px;
  width: 520px;
  .product-cart-img {
    height: 100%;
  }
  .product-cart-info {

    width: 100%;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    height: 100%;
  }
  .btn-product-card {
    opacity: 1;
    left: 15px;
    bottom: 15%;
  }
}
.big-product-cont {
  width: 250px;
  height: 100%;
  padding: 30px 15px;
}
.user-price-unlogin {
  display: flex;
  justify-content: center;
  align-items: baseline;
  .old-price,
  .new-price {
    margin: 0 5px;
  }
}