.breadcrumbs-single-page {
  width: 100%;
  margin-top: 82px;
  padding: 10px;
  background: $bg-nav;
  ul {
    float: right;
    margin: 13px 0 10px;
  }
}
.single-product {
    box-shadow:0px 0px 45px 0px rgba(50, 50, 50, 0.2);
  margin-bottom: 30px;
}
.single-page-info {
  padding-left: 20px;
}
.add-info {
  color: $or;
}
.block-price {
  padding-top: 10px;
  display: flex;
  width: 350px;
  @include mq-480 {
    width: 315px;
  }
  @include mq-380 {
    width: 250px;
  }
}
.client-price {
  font-size: 30px;
  color: $or;
  width: 120px;
  font-weight: 600;
  border-bottom:1px solid $c33;
  @include mq-480 {
    font-size: 26px;
    width: 80px;
  }
  @include mq-380 {
    font-size: 22px;
    width: 70px;
  }
}
.mini-price {
  font-size: 10px;
}
.standart-price {
  font-size: 30px;
  width: 120px;
  color: $grey;
  font-weight: 600;
  border-bottom:1px solid $c33;
  @include mq-480 {
    font-size: 26px;
    width: 80px;
  }
  @include mq-380 {
    font-size: 22px;
    width: 70px;
  }
  sub {
    left: -34px;
  }
}
.price-from {
  font-size: 30px;
  color: $grey;
  width: 120px;
  font-weight: 400;
  border-bottom:1px solid $c33;
  @include mq-480 {
    font-size: 26px;
    width: 80px;
  }
  @include mq-380 {
    font-size: 22px;
    width: 70px;
  }
  sub {
    left: -18px;
  }
}
.text-price-grey {
  color: $grey;
}
.text-price-grey2 {
  color: $c99;
}
sub {
  font-size: 14px;
  bottom: 0;
  @include mq-480 {
    font-size: 12px;
  }
  @include mq-380 {
    font-size: 11px;
  }
}
sup {
  font-size: 12px;
  top: -14px;
  font-weight: 400;
  @include mq-380 {
    font-size: 11px;
  }
}
.text-price {
  flex:1;
  font-size: 20px;
  font-weight: 400;
  padding-left: 50px;
  display: inline-block;
  border-bottom:1px solid $grey;
  line-height: 2;
  @include mq-480 {
    padding-left: 30px;
    font-size: 16px;
  }
  @include mq-380 {
    padding-left: 20px;
    font-size: 14px;
  }
}
.single-page-img {
  width: 100%;
  img{
    width: 100%;
  }
}
.glass,
.size,
.back {
  overflow: hidden;
  width: 100%;
}
.info-glass-block {
  label {
    border:1px solid $grey;
    color: $grey;
    text-align: center;
    float: left;
    padding: 10px 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor:pointer;
    border-radius: 3px;
    @include trans;
  }
  label::before{
    background: none;
  }
  input[type=radio]:checked + label {
    color: $c33;
    border:1px solid $c33;
  }
  input[type=radio]:checked + label::before {
    background:none;
  }
}
input[type=radio]{
  opacity: .4;
  visibility: hidden;
  position: absolute;
}
.all-color  {
  color: $or;
  text-transform: inherit;
  border-bottom:1px solid $or;
  margin-top: 20px;
  padding: 0;
  margin-left: 10px;
}
.info-color-block {
  label {
    width: 50px;
    height: 60px;
    padding:15px 7px 5px ;
    text-align: center;
    float: left;
    border-bottom:1px solid $light-grey;
    cursor:pointer;
    @include trans;
    img {
      width: 100%;
    }
  }

  label::before{
    background: none;
  }
  input[type=radio]:checked + label  {
    border-bottom:1px solid $c33;
  }
  input[type=radio]:checked + label::before {
    background:none;
  }
}
.info-size-block, .info-back {
  label {
    border:1px solid $grey;
    text-align: center;
    border-radius: 2px;
    color: $grey;
    float: left;
    margin: 10px 20px 10px 0;
    padding:10px 15px;
    cursor:pointer;
    @include trans;
  }
  label::before{
    background: none;
  }
  input[type=radio]:checked + label {
    border:1px solid $c33;
    color: $c33;
  }
  input[type=radio]:checked + label::before {
    background:none;
  }
  &.no-active {
    label {
      border: 1px dashed $light-grey;
      color: $light-grey;
    }
  }
}
.color {
  position: relative;
}
.all-clr-block {
  position: absolute;
  top: 110px;
  overflow: hidden;
  width: 330px;
  padding:0 15px 25px;
  right: 0;
  background: $w;
  box-shadow: 0 0 25px 0 rgba(50, 50, 50, 0.2);
  opacity:0;
  visibility: hidden;
  @include trans;
  &.all-clr-vis {
    opacity:1;
    visibility: visible;
  }
}
.close-clr {
  margin-top: 10px;
  height: 13px;
  cursor: pointer;
  svg {
    width: 13px;
    height: 13px;
    stroke: #ccc;
    fill: #ccc;
    stroke-width: .2;
    float: right;
    @include trans;
  }
  &:hover,
  &:active,
  &:focus {
    svg {
      stroke:$or;
      fill:$or;
    }

  }
}
.info-color {
  margin-top: 0;
}
.btn-product {
  font-size: 12px;
  background: $or;
  color: $w;
  border-radius: 2px;
  padding: 5px 10px;
  height: 39px;
  overflow: hidden;
  @include mq-mobile {
    font-size: 12px;
    height: 35px;
  }
  @include mq-380 {
    width: 250px;
    margin:auto;
  }
  svg {
    width: 25px;
    height: 25px;
    stroke:$w;
    fill:none;
    stroke-width: 3;
    vertical-align: middle;
    margin-right: 10px;
  }

  span {
    display: block;
    position: relative;
    @include trans;
    &.after {
      transform: translateY(10px) ;
    }
    &.before {
      transform: translateY(2px) ;
    }
  }
  &:hover,
  &:active,
  &:focus {
    background: $light-blue;
    color: $w;
    .after {
      transform: translateY(-22px) ;
    }
    .before {
      transform: translateY(-45px) ;
    }

  }
}
.btn-buy {
  font-size: 12px;
  background: $light-blue;
  color: $w;
  border-radius: 2px;
  padding: 5px 15px;
  height: 39px;
  overflow: hidden;
  margin: 0 20px 10px;
  @include mq-mobile {
    font-size: 12px;
    height: 35px;
  }
  @include mq-380 {
    width: 250px;
    margin: 20px auto 0;
  }
  span {
    display: block;
    position: relative;
    @include trans;
    &.after {
      transform: translateY(18px) ;
    }
    &.before {
      transform: translateY(8px) ;
    }
  }
  &:hover,
  &:active,
  &:focus {
    background: $or;
    color: $w;
    .after {
      transform: translateY(-6px) ;
    }
    .before {
      transform: translateY(-45px) ;
    }

  }
}
.img-gif {
  position: relative;
  overflow: hidden;

  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    height:auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &:hover {
    .gif-mask {
      opacity:1;
    }
  }
}
.gif-mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity:0;
  background: rgba(0, 0, 0, .8);
  z-index:999;
  @include trans($duration: .8s);
  p {
    color: $w;
    font-size: 12px;
    padding:15px;
  }
}
.img-angle {
  width: 100%;

  img {
    width: 100%;
    margin:40px auto 0;
  }
}
.btn-block {
  display: flex;
  margin-top: 35px;
  @include mq-480 {
    flex-wrap: wrap;
  }
}

// share
.ic-share {
  display: flex;
}
.ic-social {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  @include trans;
  text-align: center;
  &:hover {
    svg {
      fill:$c33;
      stroke:$c33;
      border-color: $c33;
    }
  }
  svg {
    width: 35px;
    height: 35px;
    stroke:$grey;
    text-align: center;
    fill:$grey;
    padding: 7px;
    border:1px solid $light-grey;
    border-radius: 2px;
    @include trans;
  }
}
.single-product {
  .swiper-container {
    width: 100%;
    height: 100%;

  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
}



