.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;


}

.dinamic-text {
  position: absolute;
  width: 91%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include mq-1000 {
    width: 100%;
    //justify-content: flex-start;
  }
  //@include mq-mobile {
  //  width: 90%;
  //}
  //@include mq-480 {
  //  width: 100%;
  //}
  .btn-login {
    margin-top: 10px;
    position: absolute;
    top: 290px;
    left: 50px;
    z-index: 11;
    @include mq-mobile {
      top: 240px;
    }
    @include mq-600 {
      top: 190px;
      left: 30px;
    }
    @include mq-480 {
      top: 140px;
    }
  }
}
.square-btn {
  width: 90px;
  height: 90px;
  border:1px solid $or;
  position: absolute;
  bottom: -10px;
  left: 130px;
  z-index: 10;
  @include mq-1200 {
    bottom: -45px;
    width: 70px;
    height: 70px;
  }
  @include mq-mobile {
    width: 55px;
    height: 55px;
    bottom: 5px;
  }
  @include mq-600 {
    width: 45px;
    height: 45px;
    bottom: 20px;
    left: 100px;
  }
  @include mq-480 {
    bottom: -5px;
  }

}

.slide-text {
  position: relative;
  width: 625px;
  height: 400px;
  @include mq-1200 {
    width: 530px;
    height: 340px;
  }
  @include mq-mobile {
    width: 430px;
    height: 320px;
  }
  @include mq-600 {
    width: 390px;
    height: 280px;
  }
  @include mq-480 {
    width: 320px;
    height: 200px;
  }

}
.slide-text1 {
  position: relative;
  width: 565px;
  height: 400px;
  @include mq-1200 {
    width: 500px;
    height: 340px;
  }
  @include mq-mobile {
    width: 470px;
    height: 320px;
  }
  @include mq-600 {
    width: 390px;
    height: 280px;
  }
  @include mq-480 {
    width: 308px;
    height: 200px;
  }
}
.slide-frame-sq {
  position: absolute;
  bottom: -80px;
  right: 0;
  width:520px;
  height: 520px;
  border:50px solid $white;
  z-index: 9;
  @include mq-1200 {
    width: 450px;
    height: 450px;
    border-width: 40px;
  }
  @include mq-mobile {
    width: 400px;
    height: 400px;
    bottom: -10px;
  }
  @include mq-600 {
    width: 380px;
    height: 380px;
    bottom: -20px;
    border-width: 35px;
  }
  @include mq-480 {
    width: 280px;
    height: 280px;
    border-width: 25px;
    bottom: -80px;
  }
  @include mq-380 {
    width: 250px;
    height: 250px;
    border-width: 25px;
    bottom: -80px;
  }
}
.slide-frame {
  position: absolute;
  bottom: -80px;
  right: 0;
  width:580px;
  height: 400px;
  border:50px solid $white;
  z-index: 9;
  @include mq-1200 {
    width: 500px;
    height: 340px;
    border-width: 40px;
  }
  @include mq-mobile {
    width: 400px;
    height: 260px;
    bottom: -10px;
  }
  @include mq-600 {
    width: 380px;
    height: 240px;
    bottom: -20px;
    border-width: 35px;
  }
  @include mq-480 {
    width: 310px;
    height: 190px;
    border-width: 25px;
  }
}
.h1-slider {
  font-size: 60px;
  text-align: left;
  text-transform: uppercase;
  z-index: 10;
  position: absolute;
  top: 90px;
  left: 0;
  @include mq-mobile {
    font-size: 45px;
    top: 50px;
  }
  @include mq-600 {
    font-size: 40px;
    top: 60px;
  }
  @include mq-480 {
    top: 20px;
    font-size: 36px;
    left: 15px;
  }
  @include mq-380 {
    top: 37px;
    font-size: 32px;
    left: 56px;
  }
}
.h-grey {
  color: $c99;
}
.h-white {
  color: $white;
}
.h2-slider {
  font-size: 40px;
  position: absolute;
  text-transform: uppercase;
  top: 190px;
  left: 90px;
  @include mq-1000 {
    left: 85px;
  }
  @include mq-mobile {
    font-size: 32px;
    top: 140px;
    left: 100px;
  }
  @include mq-600 {
    font-size: 24px;
    top: 130px;
    left: 40px;
  }
  @include mq-480 {
    top: 90px;
    font-size: 20px;
    left: 52px;
  }
  @include mq-380 {
    font-size: 18px;
    left: 82px;
    top: 97px;
  }
}
.main-slider {
  width: 100%;
  .swiper-slide {
    font-size: 18px;
    background-size:cover;
    background-position: 100%;
    height: 850px;
    &.bg-center {
      background-position: center;
    }
    @include mq-1200 {
      height: 800px;
      font-size: 16px;
    }
    @include mq-tablet {
      height: 750px;
      font-size: 14px;
    }
    @include mq-850 {
      height: 650px;
    }
    @include mq-mobile {
      height: 500px;
      font-size: 12px;
    }
    @include mq-600 {
      height: 450px;
    }
    @include mq-480 {
      height: 380px;
    }
  }
}
.h-dinamic {
  font-size: 60px;
  opacity: 0.8;
  text-align: center;
  margin: 0;
  @include mq-1200 {
    font-size: 54px;
  }
  @include mq-1000 {
    font-size: 48px;
  }
  @include mq-850 {
    font-size: 44px;
  }
  @include mq-mobile {
    font-size: 34px;
  }
  @include mq-480 {
    font-size: 28px;
  }
}
.swiper-pagination-bullet-active {
  background: $light-blue;
}
.slide-arrow {
  cursor:pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  z-index: 9999;
  @include mq-tablet {
    width: 40px;
    height: 40px;
  }
  @include mq-600 {
    width: 30px;
    height: 30px;
  }
  svg {
    width: 50px;
    height: 50px;
    stroke:$w;
    stroke-width: .5;
    @include mq-tablet {
      width: 40px;
      height: 40px;
    }
    @include mq-600 {
      width: 30px;
      height: 30px;
    }
  }
}
.btn-next {
  right: 0;
}
.btn-prev {
  left: 0;
  svg {
    transform:rotate(180deg);
  }
}