body {
  font-family:$font, sans-serif;
  font-size: 14px;
}
.mdl {
  margin-left: 5px;
}
a {
  color: $c33;
  @include trans;
  outline: none;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus{
    text-decoration: none;
    color: $or;
    outline: none;
  }
  &.active-link {
    color: $or;

  }
}
.read-more {
  display: block;
  text-align: center;
  color: $or;
  &:hover,
  &:active,
  &:focus {
    color: $light-blue;
  }
}
.btn-more {
  //display: block;
  padding: 10px 25px;
  //width: 120px;
  color: #fff;
  font-size: 14px;
  border-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  background-color: $or;
  cursor: pointer;
  position: relative;
  z-index: 1;
  height: 39px; overflow: hidden;
  @include mq-mobile {
    font-size: 12px;
    height: 35px;
  }
  span {
    display: block;
    position: relative;
    @include trans;
    &.after {
      transform: translateY(9px) ;
    }
    &.before {
      transform: translateY(1px) ;
    }
  }
  &:hover,
  &:active,
  &:focus {
    background: $light-blue;
    color: $w;
    .after {
      transform: translateY(-18px) ;
      @include mq-mobile {
        transform: translateY(-14px)
      }
    }
    .before {
      transform: translateY(-45px) ;
    }

  }
}
.sub-footer-block .btn-more {
  &:hover,
  &:active,
  &:focus {
    .after {
      transform: translateY(-20px);
    }
  }
}
.load-more {
  padding: 8px 12px;
  color: #fff;
  font-size: 14px;
  border-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  background-color: $or;
  cursor: pointer;
  position: relative;
  z-index: 1;
  height: 39px; overflow: hidden;
  span {
    display: block;
    position: relative;
    @include trans;
    &.after {
      transform: translateY(10px) ;
    }
    &.before {
      transform: translateY(2px) ;
    }
  }
  &.loaded {
    background-color: $light-blue;
    span {
      display: block;
      position: relative;
      @include trans;
      &.after {
        transform: translateY(-18px) ;
      }
      &.before {
        transform: translateY(-45px) ;
      }
    }
  }
}
// Buttons
button {
  border: none;
  outline: none;
  background:none;
  text-transform: uppercase;
  @include trans;
}
.btn-login {
  background:$or;
  color: $w;
  padding: 10px 20px;
  border-radius: 2px;
  text-transform: uppercase;
  &:hover,
  &:active,
  &:focus {
    background:darken($or, 10%);
  }
}
.load-more {
  display: block;
  //width: 200px;
  padding: 10px 20px;
  background: $or;
  color: $w;
  text-align: center;
  border-radius: 2px;
  margin: 5% auto 0;
  text-transform: uppercase;
  &:hover,
  &:active,
  &:focus {
    background:darken($or, 10%);
  }
}
// End buttons
input {
  outline: none;
  border-radius: 2px;
  padding: 10px;
  border:1px solid $light-grey;
}
ul {
  list-style: none;
  padding-left: 0;
}
section {
  margin-top: 5%;
}

// Fonts

.name-section {
  overflow: hidden;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  &:after {
    margin-left: 30px;
  }
  &:before{
    margin-right: 30px;
  }
  &:after,
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: $light-grey;

    @include mq-600 {
      display: none;
    }

  }
  &:after {
    margin-right: -100%;
  }
  &:before {
    margin-left: -100%;
  }

}
h2 {
  font-size: 26px;
  @include mq-1200 {
    font-size: 23px;
  }
  @include mq-mobile {
    font-size: 20px;
  }
}
.single-product-name {
  margin:0;
  text-transform: uppercase;
}
h5 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  font-weight: 400;
  text-align: center;
  color: $c33;
}
.product-guide-info {
  h5 {
    margin-top: 10px;
    text-align: left;
  }
}
.add-product-info {
  h5 {
    margin-top: 20px;
    margin-bottom: 5px;
  }

}
p {
  margin: 3px 0;
}
.big-product-card {
  h5 {
    font-size: 18px;
  }
  p {
    margin: 10px 0;
  }
}

blockquote {
  position: relative;
  width: 350px;
  font-family:'Times New Roman';
  font-size: 16px;
  font-style: italic;
  vertical-align: middle;
  line-height: 27px;
  font-weight: 600;
  margin-left: 0;
  padding:0 20px;
  opacity:.5;
  color: $bl;
  box-sizing: border-box;
  &:before {
    position: absolute;
    left: -5px;
    font-size: 40px;
    content: '\201c';
    text-rendering: auto;
    color:$bl;
  }
  &:after {
    position: absolute;
    right: -5px;
    font-size: 40px;
    content: '\201d';
    text-rendering: auto;
    color: $bl;
  }
  @include mq-480 {
    width: 280px;
  }

}
.container-fluid2  {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}

.breadcrumbs {
 li {
   color: $c99;
 }
}
.devider {
  margin: 0 10px;
  width: 10px;
  color: $c99;
}
h4 {
  margin-top: 40px;
  margin-bottom: 20px;
}
h6 {
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: 400;
}
.text-grey  {
  color: $c99;
}
.ic-footer-log {
  width: 20px;
  height: 20px;
  stroke:$w;
  fill:none;
  stroke-width: 1;
  vertical-align: middle;
  margin-right: 5px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.container-text {
  max-width:900px;
  margin:auto;
  font-size: 16px;
  line-height: 1.7;
  @include mq-mobile {
    font-size: 14px;
    line-height: 1.5;
  }
}