$w: #fff;
$bl: #000;
$or: #f84f00;
$c33: #333;
$grey: #ccc;
$c99: #999;
$light-grey: #dbdbdb;
$ce: #eee;
$bg-footer: #292929;
$bg-developed: #232323;
$cf6: #f6f6f6;
//
$items: 5;
$transition-duration: 0.5s;
$transition-delay: 0.05s;
$item: #EC7263;
$light-blue: #00c2ff;

//
$bg-nav: #f8f8f8;

$main-text: #666;
$gold: #d2a637;
$white: #fff;

$blue: #4666a3;
$dark-blue: darken($blue, 10%);
$middle-black: #555;
$green: #498b10;
$header-color: #407080;
$set: #91b6c2;
$red: #f44336;


/* Fonts */

$font:             'roboto';
$font-light:       'roboto-light';
$font-bold:        'roboto-bold';
