extends ./templates/layout

block title
	title Корзина

block content

	header.header(style="background-image:url(img/slider/frames-p.jpg)", data-stellar-background-ratio="0.5")
		.header-block
			h1 Корзина
	section.cart
		.container
			include templates/cart-block
			include templates/cart-block
			include templates/cart-block
			h3 Всего:
			span.total-price 111500 лей

