extends ./templates/layout

block title
	title Контакты

block content
	.map
		iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3846.3109555729957!2d28.826793299406148!3d47.0254618200438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97c3496c35df5%3A0x898b2f5606a84b31!2zQnVsZXZhcmR1bCDImHRlZmFuIGNlbCBNYXJlIMiZaSBTZsOubnQsIENoaciZaW7Eg3UsIE1vbGRvdmE!5e0!3m2!1sen!2sru!4v1487682751905', frameborder='0', style='border:0', allowfullscreen='')
	section.contacts
		.container
			.row
				.col-lg-4.col-md-4.col-sm-4.col-xs-12
					.contact-block
						.icon-contacts
							svg
								use(xlink:href='#ic-local')
						h3 Адресс
						p г.Кишинев, ул. Улица 111, оф.111
				.col-lg-4.col-md-4.col-sm-4.col-xs-12
					.contact-block
						.icon-contacts
							svg
								use(xlink:href='#ic-email')
						h3 E-mail
						a(href="mailto:mail.mail.com") mail@mail.com
				.col-lg-4.col-md-4.col-sm-4.col-xs-12
					.contact-block
						.icon-contacts
							svg
								use(xlink:href='#ic-phone')
						h3 Телефон
						p +(373) 00 000 000
			button.load-more(type="button") Скачать счет на оплату