extends ./templates/layout

block title
	title Рамки

block content

	header.header(style="background-image:url(img/slider/frames-p.jpg)", data-stellar-background-ratio="0.5")
		.header-block
			h1 Фоторамки
			.breadcrumbs
				ul
					li
						a.nav-hover-effect(href="#") Главная
						span.dot-lang
					li Фоторамки 10 x 15
	section.category-frames
		.container
			.row
				.col-lg-3.col-md-3.col-sm-4.col-xs-12
					.categ-hid
						h3.h-category Категории
						ul
							li
								a.btn-acc(href="#") Все рамки
							li
								a.btn-acc(href="#") Акция
						.extend-filtration
							button.accordion.btn-active Фоторамки
							.panel-product.show-accordion
								ul.product-categories
									li
										a.item(href="#") 10 x 15
									li
										a.item(href="#") 13 x 18
									li
										a.item(href="#") 15 x 21 (A5)
									li
										a.item(href="#") 18 x 24
									li
										a.item(href="#") 20 x 25
									li
										a.item(href="#") 21 x 30 (A4)
									li
										a.item(href="#") 24 x 30
									li
										a.item(href="#") 25 x 38
									li
										a.item(href="#") 30 x 40
									li
										a.item(href="#") 30 x 42 (A3)
									li
										a.item(href="#") 30 x 45
									li
										a.item(href="#") 35 x 50
									li
										a.item(href="#") 40 x 50
									li
										a.item(href="#") 40 x 60
									li
										a.item(href="#") 50 x 60
									li
										a.item(href="#") 50 x 70
									li
										a.item(href="#") 60 x 80
									li
										a.item(href="#") 60 x 90
									li
										a.item(href="#") 70 x 100
							button.accordion Рамки для дипломов
							.panel-product
								ul.product-categories
									li
										a.item(href="#") Все
									li
										a.item(href="#") 15 x 21
									li
										a.item(href="#") 21 x 30 (A4)
									li
										a.item(href="#") 30 x 42 (A3)
							button.accordion Рамки для вышивок
							.panel-product
								ul.product-categories
									li
										a.item(href="#") Все
									li
										a.item(href="#") 12 x 12
									li
										a.item(href="#") 12 x 17
									li
										a.item(href="#") 15 x 15
									li
										a.item(href="#") 19 x 24
									li
										a.item(href="#") 19 x 27
							button.accordion Рамки для 3D картин и пазлов
							.panel-product
								ul.product-categories
									li
										a.item(href="#") Все
									li
										a.item(href="#") 25 x 35
									li
										a.item(href="#") 48 x 68



							button.accordion Рамки с паспорту
							.panel-product
								ul.product-categories
									li
										a.item(href="#") Все
									li
										a.item(href="#") 21 x 30 (А4)
									li
										a.item(href="#") 30 x 40
							a.btn-acc(href="#") Брендированные рамки
							a.btn-acc(href="#") Рамки для икон
							a.btn-acc(href="#") Рамы для картин
							button.accordion Планшеты
							.panel-product
								ul.product-categories
									li
										a.item(href="#") Все
									li
										a.item(href="#") Подрамники
									li
										a.item(href="#") Планшеты
							a.btn-acc(href="#") Разное
				.col-lg-9.col-md-9.col-sm-8.col-xs-12
					.frames-row
						include templates/product-cart
						include templates/product-cart
						include templates/product-cart
						include templates/product-cart
						include templates/product-cart
						include templates/product-cart
						include templates/product-cart
						include templates/product-cart
						include templates/product-cart
					include templates/pagination
	button.btn-categ(type="button")
		span.ic-open-filter
			svg
				use(xlink:href='#ic-filter')
		span.ic-close-filter
			svg
				use(xlink:href='#ic-close')
	section.how-order
		.container
			h2.name-section Как оформить заказ
			include templates/order
