extends ./templates/layout

block title
	title Гид по продукту

block content

	header.header(style="background-image:url(img/slider/frames-p.jpg)", data-stellar-background-ratio="0.5")
		.header-block
			h1 Гид по продукту
			p Идейные соображения высшего порядка, а также реализация намеченных плановых заданий представляет собой интересный эксперимент проверки систем массового участия.
	section
		.container
			.row-product-guide
				include templates/product-guide
				include templates/product-guide
				include templates/product-guide
				include templates/product-guide
				include templates/product-guide
				include templates/product-guide
				include templates/product-guide
				include templates/product-guide
				include templates/product-guide
			button.load-more
				span.before Подгрузить еще
				span.after Загружается