extends ./templates/layout

block title
	title Home

block content

	.main-slider
		.swiper-container
			.swiper-wrapper
				.swiper-slide.bg-center(style="background-image:url(img/slider/slide1.jpg)")
					.dinamic-text
						.slide-text1
							.slide-frame-sq
							h1.h1-slider Рамки
							h2.h2-slider.h-grey для ваших работ
							button.btn-login Button
							.square-btn
				.swiper-slide(style="background-image:url(img/slider/slide4.jpg)")
					.dinamic-text
						.slide-text
							.slide-frame
							h1.h1-slider Рамки
							h2.h2-slider.h-white для ваших работ
							button.btn-login Button

			// Add Arrows
			.slide-button-next
				span.btn-next.slide-arrow
					svg
						use(xlink:href='#ic-arow-right')
			.slide-button-prev
				span.btn-prev.slide-arrow
					svg
						use(xlink:href='#ic-arow-right')
	.container-fluid
		.row
			.col-lg-4.col-sm-4.col-xs-12
				.frames(style="background-image:url(img/frames/frames1.jpg)")
					.frames-text
						h2 Фоторамки
						a.btn-more(href="#")
							span.before перейти
							span.after перейти
			.col-lg-4.col-sm-4.col-xs-12
				.frames(style="background-image:url(img/frames/frames2.jpg)")
					.frames-text
						h2 Рамки с паспорту
						a.btn-more(href="#")
							span.before перейти
							span.after перейти
			.col-lg-4.col-sm-4.col-xs-12
				.frames(style="background-image:url(img/frames/frames6.jpg)")
					.frames-text
						h2 Рамки для дипломов
						a.btn-more(href="#")
							span.before перейти
							span.after перейти
	section.offers
		.container
			h2.name-section Товары на акции
			a.read-more(href="#") все акции
			.product-offers-slider
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							include templates/product-cart
						.swiper-slide
							include templates/product-cart
						.swiper-slide
							include templates/product-cart
						.swiper-slide
							include templates/product-cart
						.swiper-slide
							include templates/product-cart
						.swiper-slide
							include templates/product-cart
	section.frames-order(style="background-image:url(img/prlx.png)", data-stellar-background-ratio="0.3")
		.frames-order-desc
			.container
				.row
					.col-lg-6.col-lg-push-6.col-md-6.col-md-push-6.col-sm-12.col-xs-12
						h2.name-section Рамки на заказ
						.row
							.col-lg-6.col-md-6.col-sm-6.col-xs-12
								a.read-more-order(href="#") Подрамники и планшеты
								a.read-more-order(href="#") Брендированные рамки
							.col-lg-6.col-md-6.col-sm-6.col-xs-12
								a.read-more-order(href="#") Рамки для икон
								a.read-more-order(href="#") Рамы для картин

	section.bestseller
		.container
			h2.name-section Хит продаж
			.bestseller-row
				include templates/product-card-unlogin
				include templates/product-card-unlogin
				include templates/product-cart
				include templates/product-card-unlogin
				include templates/product-card-unlogin
				include templates/product-cart
				include templates/product-cart
				include templates/product-cart

	section.guide
		.container
			h2.name-section Гид по продукту
			a.read-more(href="#") все акции
			.row
				.col-lg-4.col-md-4.col-sm-6.col-xs-12
					include templates/product-guide
				.col-lg-4.col-md-4.col-sm-6.col-xs-12
					include templates/product-guide
				.col-lg-4.col-md-4.col-sm-6.col-xs-12
					include templates/product-guide
	section.how-order
		.container
			h2.name-section Как оформить заказ
			include templates/order

	include templates/partners


