extends ./templates/layout

block title
	title Рамка 1234567

block content

	.container-fluid2
		.breadcrumbs.breadcrumbs-single-page
			.container
				ul
					li
						a(href="#") Выбрать рамку
						span.dot-lang
					li
						a(href="#") Фоторамки
						span.dot-lang
					li П.1234567 ДЕРЕВО 15 x 15
	section.single-page
		.container
			.row
				.col-lg-6.col-md-6.col-sm-6.col-xs-12
					.single-product
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.ex1.single-page-img.zoom
										img(src="img/frames/frame2.jpg")
								.swiper-slide
									.ex1.single-page-img.zoom
										img(src="img/frames/frame2.jpg")
								.swiper-slide
									.ex1.single-page-img.zoom
										img(src="img/frames/frame2.jpg")
							// Add Pagination
							.swiper-pagination


					.row
						.col-lg-6.col-xs-6
							.img-gif
								.swiper-container
									.swiper-wrapper
										.swiper-slide
											img(src="img/gif1.svg")
										.swiper-slide
											img(src="img/gif2.svg")
										.swiper-slide
											img(src="img/gif3.svg")
										.swiper-slide
											img(src="img/gif4.svg")

								.gif-mask
									p Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки новых предложений. Таким образом сложившаяся структура организации позволяет выполнять важные задания по разработке.

						.col-lg-6.col-xs-6
							.img-angle
								img(src="img/slit2.png")
				.col-lg-6.col-md-6.col-sm-6.col-xs-12
					.single-page-info
						h2.single-product-name П.1234567 Дерево 15 x 15
						p.add-info Доступно от 50 штук
						.block-price
							.client-price 123
								sub MDL
							.text-price Ваша цена
						.block-price
							.standart-price 108
								sup
									del 190
										span.mini-price MDL
								sub MDL
							.text-price.text-price-grey2 Стандартная цена
						.block-price
							.price-from 88
								sup /шт
								sub MDL
							.text-price.text-price-grey Цена от <span class="amount">50</span> штук
						.glass
							h4 Стекло:
							ul.info-glass
								li.info-glass-block
									input#gr1(type='radio', name="gr", checked)
									label(for='gr1') Простое стекло 2мм
								li.info-glass-block
									input#gr2(type='radio', name="gr")
									label(for='gr2') Антибликовое стекло 2мм

						.back
							h4 Задник:
							ul.info-back
								li.info-back-block
									input#back1(type='radio', name="back", checked)
									label(for='back1') Подвес
								li.info-back-block
									input#back2(type='radio', name="back")
									label(for='back2') Подставка
								li.info-back-block
									input#back3(type='radio', name="back")
									label(for='back3') Подвес и подвес
						.color
							h4 Цвет:
							ul.info-color
								li.info-color-block
									input#color1(type='radio', name="color", checked)
									label(for='color1')
										img(src="img/texture/texture1.jpg")
								li.info-color-block
									input#color2(type='radio', name="color")
									label(for='color2')
										img(src="img/texture/texture2.jpg")
								li.info-color-block
									input#color3(type='radio', name="color")
									label(for='color3')
										img(src="img/texture/texture3.jpg")
								li.info-color-block
									input#color4(type='radio', name="color")
									label(for='color4')
										img(src="img/texture/texture1.jpg")
								li.info-color-block
									input#color5(type='radio', name="color")
									label(for='color5')
										img(src="img/texture/texture2.jpg")
								li.info-color-block
									input#color6(type='radio', name="color")
									label(for='color6')
										img(src="img/texture/texture3.jpg")
								li.info-color-block
									button.all-color Все цвета

							.all-clr-block
								.close-clr
									svg
										use(xlink:href='#ic-close')
								ul.info-color
									li.info-color-block
										input#color7(type='radio', name="color")
										label(for='color7')
											img(src="img/texture/texture1.jpg")
									li.info-color-block
										input#color8(type='radio', name="color")
										label(for='color8')
											img(src="img/texture/texture2.jpg")
									li.info-color-block
										input#color9(type='radio', name="color")
										label(for='color9')
											img(src="img/texture/texture3.jpg")
									li.info-color-block
										input#color10(type='radio', name="color")
										label(for='color10')
											img(src="img/texture/texture1.jpg")
									li.info-color-block
										input#color11(type='radio', name="color")
										label(for='color11')
											img(src="img/texture/texture2.jpg")
									li.info-color-block
										input#color12(type='radio', name="color")
										label(for='color12')
											img(src="img/texture/texture3.jpg")
									li.info-color-block
										input#color13(type='radio', name="color")
										label(for='color13')
											img(src="img/texture/texture1.jpg")
									li.info-color-block
										input#color14(type='radio', name="color")
										label(for='color14')
											img(src="img/texture/texture2.jpg")
									li.info-color-block
										input#color15(type='radio', name="color")
										label(for='color15')
											img(src="img/texture/texture3.jpg")
									li.info-color-block
										input#color16(type='radio', name="color")
										label(for='color16')
											img(src="img/texture/texture1.jpg")
									li.info-color-block
										input#color17(type='radio', name="color")
										label(for='color17')
											img(src="img/texture/texture2.jpg")
									li.info-color-block
										input#color18(type='radio', name="color")
										label(for='color18')
											img(src="img/texture/texture3.jpg")

						.size
							h4 Размер:
							ul.info-size
								li.info-size-block
									input#size1(type='radio', name="size", checked)
									label(for='size1') 10 x 10
								li.info-size-block
									input#size2(type='radio', name="size")
									label(for='size2') 10 x 15
								li.info-size-block
									input#size3(type='radio', name="size")
									label(for='size3') 10 x 20
								li.info-size-block
									input#size4(type='radio', name="size")
									label(for='size4') 20 x 20
								li.info-size-block
									input#size5(type='radio', name="size")
									label(for='size5') 30 x 35
								li.info-size-block
									input#size6(type='radio', name="size")
									label(for='size6') 40 x 20
								li.info-size-block
									input#size7(type='radio', name="size")
									label(for='size7') 30 x 20
								li.info-size-block
									input#size8(type='radio', name="size")
									label(for='size8') 50 x 45
								li.info-size-block
									input#size9(type='radio', name="size")
									label(for='size9') 50 x 50
								li.info-size-block.no-active
									input#size10(type='radio', name="size", disabled)
									label(for='size10') 30 x 30
								li.info-size-block.no-active
									input#size11(type='radio', name="size", disabled)
									label(for='size11') 10 x 15
								li.info-size-block.no-active
									input#size12(type='radio', name="size", disabled)
									label(for='size12') 10 x 20
						.amount-frames
							h4 Количество:
							.numberCount
								span.minus
									svg
										use(xlink:href='#ic-minus')
								input(type='number', value='1')
								span.plus
									svg
										use(xlink:href='#ic-plus')
						.btn-block
							button.btn-product(type="button")
								span.before
									svg
										use(xlink:href='#ic-cart')
									| Добавить в корзину
								span.after
									svg
										use(xlink:href='#ic-cart')
									| Добавить в корзину
							button.btn-buy(type="button")
								span.before Купить
								span.after Купить
						.share
							h4 Поделись с друзьями:
							.ic-share
								a.ic-social(href="#")
									svg
										use(xlink:href='#ic-fb')
								a.ic-social(href="#")
									svg
										use(xlink:href='#ic-in')
								a.ic-social(href="#")
									svg
										use(xlink:href='#ic-vk')
	section.you-like
		.container
			h2.name-section Вам может понравиться
			.product-offers-slider
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							include templates/product-cart
						.swiper-slide
							include templates/product-cart
						.swiper-slide
							include templates/product-cart
						.swiper-slide
							include templates/product-cart
						.swiper-slide
							include templates/product-cart
						.swiper-slide
							include templates/product-cart