.add-product-container
	.add-product-img
		img(src="img/frames/frame2.jpg")
	.add-product-info
		h5 П.1234556 Дерево 10 x 15
		h6.text-grey Количество
		.numberCount
			span.minus
				svg
					use(xlink:href='#ic-minus')
			input(type='number', value='1')
			span.plus
				svg
					use(xlink:href='#ic-plus')
		.new-price 55
				span.mdl MDL
	.close
		svg
			use(xlink:href='#ic-close')