.cart-container
	.cart-block
		.cart-img
			img(src="img/frames/frame2.jpg")
		.cart-info
			h5 профиль 1234567
			span.size 10 x 15
			br
			span.material дерево
			.glass Простое стекло 2мм
			.color color
			.back подставка и подвес
	.cart-block
		.price 55 лей
		.numberCount
			span.minus
				svg
					use(xlink:href='#ic-minus')
			input(type='number', value='1')
			span.plus
				svg
					use(xlink:href='#ic-plus')
	.cart-block
		span.total-text Всего
		span.total-price 111500 лей
	.close
		svg
			use(xlink:href='#ic-close')