footer
	.sub-footer(style="background-image:url(img/footer.jpg)")
		.container
			.sub-footer-block
				form.footer-form(action="")
					input(type="text", placeholder="Ваш email")
					input(type="password", placeholder="Пароль")
					button.btn-more
						span.before
							svg.ic-footer-log
								use(xlink:href='#ic-user')
							| Войти
						span.after
							svg.ic-footer-log
								use(xlink:href='#ic-user')
							| Войти
				a.forget-password(href="#") Забыли ваш пароль?

	.container
		.row
			.col-lg-4.col-md-4.col-sm-4.col-sm-12
				h3 Категории
				ul
					li
						a(href="#") Все
					li
						a(href="#") Фоторамки
					li
						a(href="#") Рамки для дипломов
					li
						a(href="#") Рамки для вышивок
					li
						a(href="#") Рамки для 3D картин и пазлов
					li
						a(href="#") Рамки с паспорту
					li
						a(href="#") Брендированные рамки
					li
						a(href="#") Рамки для икон
					li
						a(href="#") Рамы для картин
					li
						a(href="#") Подрамники и планшеты
					li
						a(href="#") Разное
					li
						a(href="#") Акции

			.col-lg-4.col-md-4.col-sm-4.col-sm-12
				h3 Страницы
				ul
					li
						a(href="#") Доставка и оплата
					li
						a(href="#") Партнерам
					li
						a(href="#") Гид по продукту
					li
						a(href="#") Контакты
			.col-lg-4.col-md-4.col-sm-4.col-sm-12
				h3 Контакты
				p +(373)68 816 113
				p email@email.com
				p г.Кишинев, ул. Улица 1, оф.1
				.ic-footer
					a(href="#")
						svg
							use(xlink:href='#ic-fb')
					a(href="#")
						svg
							use(xlink:href='#ic-in')
					a(href="#")
						svg
							use(xlink:href='#ic-vk')
	.develop
		p Developed by
			a(href="#")
				img(src="img/logo-webus.svg" alt="webus")
