.icons-hidden
	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-arow-right(viewbox='0 0 8.65 14.71', fill='none', stroke-linecap='round', stroke-linejoin='round')
			polyline(points='0.5 0.5 8.15 7.37 0.63 14.21')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-user(viewbox='0 0 22.33 18.27', style='enable-background:new 0 0 22.33 18.27;')
			path(d='M1718,128.72v-3a1.58,1.58,0,0,1,1.46-1.67h14.09a1.58,1.58,0,0,1,1.46,1.67v13.93a1.58,1.58,0,0,1-1.46,1.67h-14.09a1.58,1.58,0,0,1-1.46-1.67v-1.9', transform='translate(-1713.17 -123.53)')
			line(x1='0.5', y1='9.14', x2='11.17', y2='9.14')
			polyline(points='8.75 5.8 11.54 9.09 8.75 12.14')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-search(viewbox='0 0 100 99.3', style='enable-background:new 0 0 100 99.3;')
			g(transform='translate(0,-952.36218)')
				path(d='M40,964.4c-15.5,0-28,12.5-28,28c0,15.5,12.5,28,28,28c7.4,0,14.1-2.9,19.1-7.5l27.2,27.2c0.4,0.4,1.1,0.4,1.4,0\
				  c0.4-0.4,0.4-1.1,0-1.4l-27.2-27.2c4.7-5,7.5-11.7,7.5-19.1C68,976.9,55.5,964.4,40,964.4z M40,966.4c14.4,0,26,11.6,26,26\
				  c0,14.4-11.6,26-26,26s-26-11.6-26-26C14,978,25.6,966.4,40,966.4z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-cart(viewbox='0 0 70 70', style='enable-background:new 0 0 70 70;')
			g
				path(d='M4,7.4h7c2.6,0,4.9,1.6,5.8,3.9l10.1,25.1c0.6,1.6,0.7,3.3,0.1,4.9l-1,3c-0.1,0.3-0.2,0.7-0.2,1\
			  c0,1.8,1.5,3.2,3.2,3.2h29')
				path(d='M17.7,13.8h43.4c0,0,0,0,0,0c2.6,0,4.8,2.2,4.8,4.8c0,0.3,0,0.6-0.1,0.9l-2.5,13.4c-0.3,1.7-1.8,3-3.5,3.2\
			  l-32.4,3.5')
				circle(cx='51', cy='58', r='4.6')
				circle(cx='32.7', cy='58', r='4.6')




	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-menu(viewbox='0 0 55 45', style='enable-background:new 0 0 55 45;')
			path(d='M51.5,39.8h-48c-1.3,0-1.3-2,0-2h48C52.8,37.8,52.8,39.8,51.5,39.8z M41.5,21.8h-38c-1.3,0-1.3,2,0,2h38\
C42.8,23.8,42.8,21.8,41.5,21.8z M31.5,5.8h-28c-1.3,0-1.3,2,0,2h28C32.8,7.8,32.8,5.8,31.5,5.8z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-add(viewbox='0 0 95 95', style='enable-background:new 0 0 95 95;')
			path(d='M75.4,47.7c7.9-0.4,14.3-7,14.3-15c0-8.3-6.8-15.1-15.1-15.1c-8,0-14.6,6.3-15,14.3l-39.9-4.8L17,11.4H4.5v3h10l2.1,12.4\
			l-0.1,0l6.6,36.4h0.1l1.6,6.5c-0.1,0-0.3,0-0.4,0c-4.1,0-7.5,3.4-7.5,7.5c0,4.1,3.4,7.5,7.5,7.5s7.5-3.4,7.5-7.5\
			c0-1.7-0.6-3.2-1.5-4.5h32.4c-0.9,1.3-1.5,2.8-1.5,4.5c0,4.1,3.4,7.5,7.5,7.5s7.5-3.4,7.5-7.5c0-4.1-3.4-7.5-7.5-7.5H27.8l-1.6-6.4\
			h45.7L75.4,47.7z M68.6,72.6c2.5,0,4.5,2,4.5,4.5c0,2.5-2,4.5-4.5,4.5s-4.5-2-4.5-4.5C64.2,74.6,66.2,72.6,68.6,72.6z M74.6,20.6\
			c6.7,0,12.1,5.4,12.1,12.1s-5.4,12.1-12.1,12.1c-6.7,0-12.1-5.4-12.1-12.1S68,20.6,74.6,20.6z M28.8,77c0,2.5-2,4.5-4.5,4.5\
			s-4.5-2-4.5-4.5s2-4.5,4.5-4.5S28.8,74.6,28.8,77z M25.6,60.1L21.4,37l-1.2-6.8L59.7,35c1,6.5,6.1,11.7,12.6,12.6l-2.9,12.5H25.6z')
			polygon(points='73.1,39.7 76.1,39.7 76.1,34.4 81.4,34.4 81.4,31.4 76.1,31.4 76.1,26.1 73.1,26.1 73.1,31.4 67.8,31.4 67.8,34.4 \
			73.1,34.4 ')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-confirm(viewbox='0 0 48 60', style='enable-background:new 0 0 48 60;')
			g(transform='matrix(1,0,0,1,-822.046,-160.876)')
				g(transform='matrix(1,0,0,1,4.00004,7.03799)')
					g(transform='matrix(0.738095,0,0,0.936,213.643,7.03408)')
						path(d='M861.546,163.786C861.546,160.248 857.904,157.376 853.417,157.376L827.675,157.376C823.189,157.376 819.546,160.248 819.546,163.786L819.546,213.466C819.546,217.004 823.189,219.876 827.675,219.876L853.417,219.876C857.904,219.876 861.546,217.004 861.546,213.466L861.546,163.786Z', style='fill:rgb(246,246,246);stroke:rgb(40,40,40);stroke-width:1.19px;')
				g(transform='matrix(1,0,0,1,4.00004,7.03799)')
					g(transform='matrix(0.794872,0,0,0.936,167.112,7.03408)')
						path(d='M834.046,214.126L845.296,214.126', style='fill:none;stroke:rgb(176,176,176);stroke-width:1.15px;')
				g(transform='matrix(1,0,0,1,4.00004,7.03799)')
					g(transform='matrix(0.794872,0,0,0.936,167.112,7.03408)')
						path(d='M819.796,163.626L858.296,163.626', style='fill:none;stroke:rgb(40,40,40);stroke-width:1.15px;')
				g(transform='matrix(1,0,0,1,4.00004,7.03799)')
					g(transform='matrix(0.794872,0,0,0.936,167.112,7.03408)')
						path(d='M819.796,209.626L858.546,209.626', style='fill:none;stroke:rgb(40,40,40);stroke-width:1.15px;')
				g(transform='matrix(1,0,0,1,4.00004,7.03799)')
					g(transform='matrix(1.83104e-17,0.299031,-0.299031,1.83104e-17,876.884,166.992)')
						path(d='M66.5,66.8C67,66.8 67.5,66.6 67.9,66.2C68.7,65.4 68.7,64.2 67.9,63.4C58,53.5 41.9,53.5 32,63.4C31.2,64.2 31.2,65.4 32,66.2C32.8,67 34,67 34.8,66.2C43.1,57.9 56.7,57.9 65,66.2C65.5,66.6 66,66.8 66.5,66.8Z', style='fill:rgb(176,176,176);fill-rule:nonzero;')
				g(transform='matrix(1,0,0,1,4.00004,7.03799)')
					g(transform='matrix(1.83104e-17,0.299031,-0.299031,1.83104e-17,876.884,166.992)')
						path(d='M78.9,54.4C79.4,54.4 79.9,54.2 80.3,53.8C81.1,53 81.1,51.8 80.3,51C63.6,34.3 36.4,34.3 19.7,51C18.9,51.8 18.9,53 19.7,53.8C20.5,54.6 21.7,54.6 22.5,53.8C37.7,38.6 62.3,38.6 77.5,53.8C77.9,54.2 78.4,54.4 78.9,54.4Z', style='fill:rgb(176,176,176);fill-rule:nonzero;')



	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-delivery(viewbox='0 0 102 43', style='enable-background:new 0 0 102 43;')
			g(transform='matrix(1,0,0,1,-1073.23,-178.272)')
				g(transform='matrix(1,0,0,1,4.00004,7.03799)')
					g(transform='matrix(1,0,0,1,-10,-7.03799)')
						path(d='M1153.97,185.438L1169.17,185.438L1180.05,196.317L1180.05,213.881L1150.95,213.881', style='fill:none;stroke:rgb(40,40,40);stroke-width:1px;')
				g(transform='matrix(1,0,0,1,4.00004,7.03799)')
					g(transform='matrix(0.726456,0,0,0.726456,334.479,23.1952)')
						g(transform='matrix(0.876874,0,0,0.753629,526.717,188.079)')
							path(d='M669.8,29.422C669.8,25.187 666.846,21.75 663.207,21.75L609.313,21.75C605.674,21.75 602.72,25.187 602.72,29.422L602.72,78.758C602.72,82.993 605.674,86.43 609.313,86.43L663.207,86.43C666.846,86.43 669.8,82.993 669.8,78.758L669.8,29.422Z', style='fill:none;stroke:rgb(40,40,40);stroke-width:1.68px;stroke-linecap:butt;stroke-miterlimit:1.41421;')
						g(transform='matrix(1,0,0,1,452.506,177.797)')
							path(d='M568.19,34.83L609.91,34.83', style='fill:none;stroke:rgb(176,176,176);stroke-width:1.38px;stroke-miterlimit:1.41421;')
						g(transform='matrix(1,0,0,1,452.506,176.421)')
							path(d='M559.6,48.1L586.55,48.1', style='fill:none;stroke:rgb(176,176,176);stroke-width:1.38px;stroke-miterlimit:1.41421;')
						g(transform='matrix(1,0,0,1,452.506,173.668)')
							path(d='M583.96,61.29L625.68,61.29', style='fill:none;stroke:rgb(176,176,176);stroke-width:1.38px;stroke-miterlimit:1.41421;')
						g(transform='matrix(0.7036,0,0,0.7036,633.269,193.263)')
							circle(cx='620.89', cy='86.43', r='11.03', style='fill:rgb(246,246,246);stroke:rgb(40,40,40);stroke-width:1.96px;stroke-linecap:butt;stroke-miterlimit:1.41421;')
						g(transform='matrix(0.7036,0,0,0.7036,700.031,193.263)')
							circle(cx='620.89', cy='86.43', r='11.03', style='fill:rgb(246,246,246);stroke:rgb(40,40,40);stroke-width:1.96px;stroke-linecap:butt;stroke-miterlimit:1.41421;')


	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-recive(viewbox='0 0 53 65', style='enable-background:new 0 0 53 65;')
			g(transform='matrix(1,0,0,1,-1396.88,-156.217)')
				g(transform='matrix(1,0,0,1,4.00004,7.03799)')
					g(transform='matrix(0.836804,0,0,0.836804,225.719,29.7438)')
						path(d='M1456.65,159.176C1456.65,158.517 1456.12,157.981 1455.46,157.981L1396.57,157.981C1395.91,157.981 1395.38,158.517 1395.38,159.176L1395.38,218.062C1395.38,218.722 1395.91,219.257 1396.57,219.257L1455.46,219.257C1456.12,219.257 1456.65,218.722 1456.65,218.062L1456.65,159.176Z', style='fill:none;stroke:rgb(42,42,42);stroke-width:1.2px;')
				g(transform='matrix(1,0,0,1,4.00004,7.03799)')
					g(transform='matrix(1.14496,0,0,1.14496,-213.136,-25.8403)')
						path(d='M1442.56,169.996C1442.56,169.514 1442.17,169.122 1441.69,169.122L1409.36,169.122C1408.88,169.122 1408.48,169.514 1408.48,169.996L1408.48,202.328C1408.48,202.81 1408.88,203.201 1409.36,203.201L1441.69,203.201C1442.17,203.201 1442.56,202.81 1442.56,202.328L1442.56,169.996Z', style='fill:none;stroke:rgb(176,176,176);stroke-width:0.87px;')
				g(transform='matrix(1,0,0,1,4.00004,7.03799)')
					g(transform='matrix(1,0,0,1,-4.00004,-7.03799)')
						path(d='M1402.11,168.467L1422.36,157.717L1441.86,168.467', style='fill:none;stroke:rgb(42,42,42);stroke-width:1px;')
				g(transform='matrix(1,0,0,1,4.00004,7.03799)')
					g(transform='matrix(1,0,0,1,-4.00004,-7.03799)')
						circle(cx='1422.61', cy='158.217', r='1.5', style='fill:rgb(246,246,246);stroke:rgb(42,42,42);stroke-width:1px;')


	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-close(viewbox='0 0 10 10.2', style='enable-background:new 0 0 10 10.2;')
			path.st0(d='M10,0.4L9.6,0L5,4.6L0.4,0L0,0.4L4.6,5L0,9.6L0.4,10l4.6-4.6L9.5,10l0.4-0.4L5.3,5L10,0.4z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-fb(viewbox='0 0 232.8 387', style='enable-background:new 0 0 232.8 387;')
			g(transform='matrix(1,0,0,1,307,14)')
				rect(x='-609.7', y='-396.8')
				g(transform='matrix(0.185887,0,0,0.185887,-297.289,8.85806)')
					path(d='M702,1744.6H355.6V906.1H182.5v-289h173.1V443.6c0-235.8,97.7-375.9,375.4-375.9h231.2v289H817.7\
			    c-108.1,0-115.2,40.4-115.2,115.8L702,617.1h261.8l-30.6,289H702V1744.6z')





	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-in(viewbox='0 0 448 415', style='enable-background:new 0 0 448 415;')
			g(transform='matrix(1,0,0,1,-48,-8)')
				rect(x='16', y='-314')
				g
					defs
						rect(x='16', y='-314')
					clippath
						use(xlink:href='#SVGID_1_', style='overflow:visible;')
					g.st1
						g(transform='matrix(0.0476081,0,0,0.0476081,50.2888,24.0802)')
							path(d='M8843.6,4884.8v3180.3H6999.9V5097.8c0-745.4-266.7-1254.1-934.1-1254.1c-509.5,0-812.6,342.8-946,674.5\
			        c-48.6,118.6-61.2,283.6-61.2,449.5v3097.5H3214.3c0,0,24.8-5025.7,0-5546.4h1844.2v786.2c-3.7,5.9-8.6,12.2-12.1,17.9h12.1\
			        v-17.9c245-377.4,682.6-916.5,1662-916.5C7934,2388.4,8843.6,3181.1,8843.6,4884.8z M1284.9-154.9\
			        c-631,0-1043.7,413.9-1043.7,958.1c0,532.4,400.8,958.8,1019.2,958.8h12.3C1916,1762,2316,1335.6,2316,803.2\
			        C2303.9,258.9,1916-154.9,1284.9-154.9z M350.8,8065.1h1843.7V2518.7H350.8V8065.1z')


	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-vk(viewbox='0 0 464 282', style='enable-background:new 0 0 464 282;')
			rect(x='-604.8', y='-358.7')
			path(d='M440.7,241.9c-0.5-1.1-1-2.1-1.5-2.8c-7.5-13.6-21.9-30.2-43.2-50l-0.5-0.5l-0.2-0.2l-0.2-0.2h-0.2\
			c-9.7-9.2-15.8-15.4-18.3-18.5c-4.7-6-5.7-12.2-3.2-18.3c1.8-4.7,8.6-14.5,20.4-29.6c6.2-8,11.1-14.4,14.7-19.2\
			c26.1-34.7,37.4-56.8,33.9-66.5l-1.4-2.3c-0.9-1.4-3.2-2.6-7-3.7c-3.8-1.1-8.6-1.3-14.5-0.5l-65.2,0.5c-1.1-0.4-2.6-0.4-4.5,0.1\
			c-2,0.5-2.9,0.7-2.9,0.7l-1.1,0.6l-0.9,0.7c-0.7,0.4-1.6,1.2-2.5,2.4c-0.9,1.1-1.6,2.5-2.3,4C333,56.4,325,73.4,315.9,89.1\
			c-5.6,9.3-10.7,17.5-15.4,24.3c-4.7,6.9-8.6,11.9-11.8,15.2c-3.2,3.2-6,5.9-8.6,7.8c-2.6,2-4.5,2.8-5.9,2.5\
			c-1.4-0.3-2.7-0.6-3.8-0.9c-2.1-1.4-3.8-3.2-5.1-5.5c-1.3-2.3-2.2-5.3-2.6-8.8c-0.5-3.6-0.7-6.6-0.8-9.2c-0.1-2.6,0-6.2,0.1-10.9\
			c0.2-4.7,0.2-7.8,0.2-9.5c0-5.7,0.1-11.9,0.3-18.7c0.2-6.7,0.4-12,0.6-15.9c0.2-3.9,0.2-8.1,0.2-12.4c0-4.4-0.3-7.8-0.8-10.3\
			c-0.5-2.5-1.3-4.9-2.4-7.2c-1.1-2.3-2.6-4.1-4.6-5.4c-2-1.3-4.6-2.3-7.6-3.1c-8-1.8-18.2-2.8-30.6-2.9c-28-0.3-46.1,1.5-54.1,5.4\
			c-3.2,1.6-6,3.9-8.6,6.8c-2.7,3.3-3.1,5.1-1.1,5.4c9,1.4,15.5,4.6,19.2,9.7l1.4,2.7c1.1,1.9,2.1,5.4,3.2,10.4c1.1,5,1.7,10.5,2,16.5\
			c0.7,11,0.7,20.4,0,28.3c-0.8,7.9-1.5,14-2.2,18.3c-0.7,4.4-1.7,7.9-3,10.6c-1.4,2.7-2.3,4.4-2.7,5c-0.5,0.6-0.8,1-1.1,1.1\
			c-2,0.7-4,1.1-6.1,1.1c-2.1,0-4.7-1.1-7.7-3.2c-3-2.1-6.1-5-9.4-8.7c-3.2-3.7-6.9-8.9-11-15.5c-4.1-6.6-8.3-14.5-12.7-23.5l-3.6-6.6\
			c-2.3-4.2-5.3-10.4-9.3-18.4c-3.9-8.1-7.4-15.9-10.4-23.4c-1.2-3.2-3-5.6-5.4-7.2l-1.1-0.7c-0.8-0.6-2-1.2-3.6-1.9\
			c-1.7-0.7-3.4-1.2-5.2-1.5l-62,0.5c-6.3,0-10.6,1.4-12.9,4.3L9.2,35c-0.5,0.7-0.7,2-0.7,3.6c0,1.7,0.5,3.7,1.4,6.1\
			c9.1,21.3,18.9,41.8,29.5,61.5s19.9,35.7,27.7,47.7c7.9,12.1,15.8,23.5,24,34.2c8.1,10.7,13.5,17.6,16.2,20.6c2.6,3,4.7,5.3,6.2,6.8\
			l5.7,5.4c3.6,3.6,8.9,8,15.9,13c7,5,14.8,10,23.3,14.9c8.5,4.9,18.4,8.9,29.7,12c11.3,3.1,22.3,4.3,33,3.7h26c5.3-0.5,9.3-2.1,12-5\
			l0.9-1.1c0.6-0.9,1.2-2.3,1.7-4.2c0.5-1.9,0.8-4,0.8-6.2c-0.2-6.5,0.3-12.3,1.5-17.5c1.1-5.2,2.4-9.1,3.8-11.8\
			c1.4-2.6,3.1-4.9,4.9-6.7c1.8-1.8,3.1-2.9,3.8-3.3c0.7-0.4,1.4-0.6,1.8-0.8c3.6-1.2,7.9,0,12.8,3.5c4.9,3.5,9.5,7.9,13.8,13.1\
			c4.3,5.2,9.5,11.1,15.5,17.5c6,6.5,11.3,11.3,15.8,14.5l4.5,2.7c3,1.8,6.9,3.5,11.8,5c4.8,1.5,9,1.9,12.7,1.1l57.9-0.9\
			c5.7,0,10.2-1,13.3-2.8c3.2-1.9,5.1-3.9,5.7-6.2c0.6-2.3,0.6-4.8,0.1-7.7C441.7,245,441.2,243,440.7,241.9L440.7,241.9z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-plus(viewbox='0 0 13.8 13.5', style='enable-background:new 0 0 13.8 13.5;')
			path#Shape_2_copy(d='M1.4,6.9v-1h11v1H1.4z')
			path#Shape_2_copy_2(d='M7.4,11.9h-1v-11h1V11.9z')
	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-minus(viewbox='0 0 14.8 5.4', style='enable-background:new 0 0 14.8 5.4;')
			path(d='M1.9,3.2v-1h11v1H1.9z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-first-page(viewbox='0 0 35 49')
			g
				polyline.st0(points='31.2,2.5 4.8,24.7 31.2,47 	')
				line.st0(x1='4.8', y1='47.7', x2='4.8', y2='1.7')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-local(viewBox="0 0 55 90")
			g
				path(d='M26.4,86c-0.6,0-1.1-0.3-1.3-0.8L4.5,37.6c-1.3-3-2-6.2-2-9.6c0-13.1,10.7-23.8,23.8-23.8c13.1,0,23.8,10.7,23.8,23.8\
				  c0,3.3-0.7,6.5-2,9.6L27.6,85.2C27.4,85.7,26.9,86,26.4,86z M26.4,6.1c-12.1,0-22,9.9-22,22c0,3.1,0.6,6,1.8,8.8l20.1,46.6\
				  l20.1-46.6c1.2-2.8,1.8-5.8,1.8-8.8C48.3,15.9,38.5,6.1,26.4,6.1z M26.4,43.2c-4.5,0-8.8-2-11.7-5.5c-2.2-2.7-3.4-6.1-3.4-9.6\
				  c0-8.3,6.8-15.1,15.1-15.1c8.3,0,15.1,6.8,15.1,15.1c0,3.5-1.2,6.9-3.4,9.6C35.2,41.2,30.9,43.2,26.4,43.2z M26.4,14.8\
				  c-7.3,0-13.3,6-13.3,13.3c0,3.1,1.1,6,3,8.4c2.5,3.1,6.3,4.9,10.3,4.9s7.7-1.8,10.3-4.9c1.9-2.4,3-5.4,3-8.4\
				  C39.6,20.7,33.7,14.8,26.4,14.8z')


	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-email(viewBox="0 0 100 60")
			g(transform='translate(0,-952.36218)')
				path(d='M12,955.6c-3.9,0-7,3.1-7,7v40c0,3.9,3.1,7,7,7h76c3.9,0,7-3.1,7-7v-40c0-3.9-3.1-7-7-7H12z M12,957.6h76\
				  c0.7,0,1.4,0.1,2,0.4l-36.4,34.1c-2.1,1.9-5.2,1.9-7.3,0L10,958C10.6,957.7,11.3,957.6,12,957.6z M8.3,959.2l24.4,22.8L8.3,1006\
				  c-0.8-0.9-1.3-2-1.3-3.3v-40C7,961.3,7.5,960.1,8.3,959.2L8.3,959.2z M91.7,959.2c0.8,0.9,1.3,2.1,1.3,3.4v40\
				  c0,1.3-0.5,2.5-1.3,3.3l-24.4-23.9L91.7,959.2z M34.2,983.4L45,993.6c2.8,2.6,7.2,2.6,10,0l10.8-10.1l24.3,23.7\
				  c-0.6,0.3-1.3,0.4-2.1,0.4H12c-0.7,0-1.5-0.2-2.1-0.4C9.9,1007.2,34.2,983.4,34.2,983.4z')


	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-phone(viewBox="0 0 100 125")
			g
				path(d='M23.7,7.9c0.8,0,1.6,0.5,1.9,1.2L31.3,21c1.1,2.4,0.4,5.2-1.8,6.7l-4.1,2.9c-2.2,1.6-2.9,4.5-1.6,6.9\
						c8.4,16,21.2,29,37,37.7c0.8,0.4,1.7,0.7,2.6,0.7c1.8,0,3.5-0.9,4.5-2.4l3.2-4.9c1-1.5,2.6-2.4,4.4-2.4c0.7,0,1.4,0.1,2.1,0.4\
						l12.8,5.5c0.9,0.4,1.4,1.3,1.3,2.2l-1.3,11.3c-0.6,2-2.2,3.5-4.2,4L84.7,90c-2.1,0.6-4.4,0.9-6.6,0.9c-4.1,0-8.2-1.1-11.8-3.1\
						l-1.1-0.6C42.7,74.8,24,56.1,11.3,33.4c-3.4-6.2-4-13.5-1.6-20.2c0.6-1.6,1.8-2.9,3.5-3.6L23.4,8C23.5,7.9,23.6,7.9,23.7,7.9\
						M23.7,5.9c-0.2,0-0.5,0-0.7,0.1L12.7,7.7c-2.2,0.8-4,2.6-4.8,4.8l0,0c-2.6,7.2-2,15.2,1.7,21.9l0,0c12.8,23,31.8,42,54.8,54.8\
						l1.1,0.6c3.9,2.2,8.4,3.3,12.8,3.3c2.4,0,4.8-0.3,7.1-1l1.5-0.4c2.7-0.8,4.8-2.9,5.6-5.5l1.3-11.5c0.2-1.8-0.8-3.6-2.5-4.3\
						l-12.8-5.5c-0.9-0.4-1.9-0.6-2.9-0.6c-2.4,0-4.7,1.2-6.1,3.3l-3.2,4.9c-0.6,1-1.7,1.5-2.8,1.5c-0.6,0-1.1-0.1-1.6-0.4\
						c-15.4-8.5-28-21.3-36.2-36.9c-0.8-1.5-0.4-3.4,1-4.4l4.1-2.9c3-2,4.1-5.9,2.5-9.2L27.5,8.3C26.8,6.8,25.3,5.9,23.7,5.9L23.7,5.9z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-filter(viewBox="0 0 87.7 70.7")
			path(d='M22.9,14h-11c-0.6,0-1-0.4-1-1s0.4-1,1-1h11c0.6,0,1,0.4,1,1S23.4,14,22.9,14z')
			path(d='M71.9,14h-40c-0.6,0-1-0.4-1-1s0.4-1,1-1h40c0.6,0,1,0.4,1,1S72.4,14,71.9,14z')
			path(d='M27,18c-2.8,0-5-2.2-5-5s2.2-5,5-5s5,2.2,5,5S29.8,18,27,18z M27,10c-1.7,0-3,1.3-3,3s1.3,3,3,3s3-1.3,3-3S28.7,10,27,10z')
			path(d='M52.9,34h-41c-0.6,0-1-0.4-1-1s0.4-1,1-1h41c0.6,0,1,0.4,1,1S53.4,34,52.9,34z')
			path(d='M71.9,34h-10c-0.6,0-1-0.4-1-1s0.4-1,1-1h10c0.6,0,1,0.4,1,1S72.4,34,71.9,34z')
			path(d='M57,38c-2.8,0-5-2.2-5-5s2.2-5,5-5c2.8,0,5,2.2,5,5S59.8,38,57,38z M57,30c-1.7,0-3,1.3-3,3s1.3,3,3,3s3-1.3,3-3\
				S58.7,30,57,30z')
			path(d='M32.9,54h-21c-0.6,0-1-0.4-1-1s0.4-1,1-1h21c0.6,0,1,0.4,1,1S33.4,54,32.9,54z')
			path(d='M71.9,54h-30c-0.6,0-1-0.4-1-1s0.4-1,1-1h30c0.6,0,1,0.4,1,1S72.4,54,71.9,54z')
			path(d='M37,58c-2.8,0-5-2.2-5-5s2.2-5,5-5s5,2.2,5,5S39.8,58,37,58z M37,50c-1.7,0-3,1.3-3,3s1.3,3,3,3s3-1.3,3-3S38.7,50,37,50z')






