doctype html
html(lang='en')

   head
      block title
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(href="../img/favicon.ico" rel="icon" type="image/vnd.microsoft.icon")
      link(href="css/bootstrap.min.css" rel="stylesheet" type="text/css")
      link(href="css/normalize.css" rel="stylesheet" type="text/css")
      link(href="css/swiper.min.css" rel="stylesheet" type="text/css")
      link(href="css/main.css" rel="stylesheet" type="text/css")





   body

      include nav


      //CONTENT
      .content
         block content
      //x - content
     



      // FOOTER
      include footer
      // end - footer
      include icons
      script(src="js/jquery-2.2.3.min.js")
      script(src="js/swiper.min.js")
      script(src="js/jquery.stellar.min.js")
      script(src="js/jquery.zoom.min.js")
      script(src="js/main.js")
      script(src="js/ajax.js")

