.nav-container
	.container-fluid
		.button.button-toggle
			span.ic-menu
				svg
					use(xlink:href='#ic-menu')
		.logo-mob
			a(href="#")
				img(src="img/logo.svg" alt="logo")
		.nav
			.logo
				a(href="#")
					img(src="img/logo.svg" alt="logo")
			nav.main-nav
				ul
					li.dropdow-menu.nav-item
						a.active-link.nav-hover-effect(href='#') Выбрать рамку
							span.menu-arrow-bottom
								svg
									use(xlink:href='#ic-arow-right')
						ul.dropdown
							li
								a(href="#") Все
							li
								a(href="#") Фоторамки
							li
								a(href="#") Рамки для дипломов
							li
								a(href="#") Рамки для вышивок
							li
								a(href="#") Рамки для 3D картин и пазлов
							li
								a(href="#") Рамки с паспорту
							li
								a(href="#") Брендированные рамки
							li
								a(href="#") Рамки для икон
							li
								a(href="#") Рамы для картин
							li
								a(href="#") Подрамники и планшеты
							li
								a(href="#") Разное
							li
								a(href="#") Акции
					li.nav-item
						a.nav-hover-effect(href='#') Доставка и оплата
					li.nav-item
						a.nav-hover-effect(href='#') Партнерам
					li.nav-item
						a.nav-hover-effect(href='#') Гид по продукту
					li.nav-item
						a.nav-hover-effect(href='#') Контакты
			.nav-right
				button.nav-item.openModal#openModal(data-modal="#modal")
					span.ic-nav-user
						svg
							use(xlink:href='#ic-user')
				.ic-nav.search.nav-item
					svg
						use(xlink:href='#ic-search')
					.form-search
						form(action="")
							.search-block
								input(type="search", placeholder="Search")
								button.btn-search(type="submit")
									svg
										use(xlink:href='#ic-search')
				a.nav-item.ic-cart(href="#")
					svg.ic-svg-cart
						use(xlink:href='#ic-cart')
					.block-add-product
						include add-to-cart
						include add-to-cart
						include add-to-cart
						.total-add-to-cart
							p Итого:
							.tot-price
								b 178
								span.mdl MDL

						a.btn-more(href="#")
							span.before Посмотреть в корзине
							span.after Посмотреть в корзине
				.lang.nav-item
					a.active-link(href="#") РУ
					span.dot-lang
					a(href="#") RO
				.modal#modal
					.modal_wrapper
						form.user-form(action="")
							input(type="text", placeholder="User Name")
							input(type="password", placeholder="Password")
							.form-btn
								button.btn-login Login
								a.forget-pass(href="#") Забыли ваш пароль?

						form.user-forget.forget-invis
							input(type="email", placeholder="e-mail")
							.form-btn
								button.btn-login(type="button") Назад
								button.btn-ok ok

