.order
	.order-block
		.order-icon-cart
			svg
				use(xlink:href='#ic-cart')
		h3.h-order Корзина
		p Добавьте товар в корзину и оформите заказ
		a(href="#").link-order Подробнее
	.order-block
		.order-icon
			svg
				use(xlink:href='#ic-confirm')
		h3.h-order Звонок
		p Мы подтвержаем заказ звонком или письмом
		a(href="#").link-order Подробнее
	.order-block
		.order-icon-delivery
			svg
				use(xlink:href='#ic-delivery')
		h3.h-order Доставка
		p Мы доставляем заказ курьером
		a(href="#").link-order Подробнее
	.order-block
		.order-icon
			svg
				use(xlink:href='#ic-recive')
		h3.h-order Рамки
		p Вы получаете свой заказ
		a(href="#").link-order Подробнее
