.pagination
	ul
		li
			a.page-numbers(href="#")
				span.ic-pag-first
					svg
						use(xlink:href='#ic-first-page')
		li
			a.page-numbers(href="#")
				span.ic-pag-arrow.pag-prev.no-active
					svg
						use(xlink:href='#ic-arow-right')
		li
			a.page-numbers(href="#") 1
		li
			a.page-numbers(href="#") 2
		li.current 3
		li
			a.page-numbers(href="#") 4
		li
			a.page-numbers(href="#")
				span.ic-pag-arrow
					svg
						use(xlink:href='#ic-arow-right')
		li
			a.page-numbers(href="#")
				span.ic-pag-next
					svg
						use(xlink:href='#ic-first-page')