.product-guide
	a.link-more-guide(href="#")
		figure.effect-layla
			img(src="img/frames/fr.jpg")
			figcaption
				//h3 Name frame
		.product-guide-info
			h5 Таким образом новая модель организационной
			p Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации новых предложений.