.product-card
	.product-cart-img
		a.see-more(href="#")
			img(src="../img/frames/frame2.jpg")
		span.sale Акция
		button.btn-product-card(type="button")
			span.before
				svg
					use(xlink:href='#ic-cart')
				| Добавить в корзину
			span.after
				svg
					use(xlink:href='#ic-cart')
				| Добавить в корзину

		span.add-cart Добавлено в корзину
	.product-cart-info
		h5
			a(href="#") п.1234567 дерево 15x15
		.user-price-unlogin
			.old-price 180.00 MDL
			.new-price 150.00 MDL